/*Notebud styles*/
* {
	margin: 0;
	padding: 0;
}  /* universal reset */

.ui-page {
	background:  #444 url(../images/paper_bg.jpg) !important;
}


label.errors {
	display: block;
	margin: 12px 0;
	color: #ff0000;	
}


.fImage {
	margin: 40px auto;
	display: block;
}


/************************************************************************/

/* search */
.search {
	position: relative;
	margin-left: 230px;
	margin-top: -35px;
}

input[type=search] {
	background: #ededed url(images/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 6px 6px 6px 12px;
	width: 25px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;

	/* take away default css search form style*/
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input[type=search]:focus {
	width: 65px;
	background: #fff;
	border-color: #6dcff6;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


/*form styles*/
label {
	display: block;
}



h2 {
	margin-left: 10px;
	color: #2B5599;
}

li {
	list-style: none;
	padding: 10px 0 0 0;
}

p {
	margin: 0 0 0 9px;
}

a {
	text-decoration: none;
	margin: 3px;
}

a:active {
	text-decoration: none;
	color: #fff;
}

a:visited {
	color: blue;
}

