/*Notebud styles*/
* {
	margin: 0;
	padding: 0;
}  /* universal reset */

.ui-page {
	background:  #444 url(../images/paper_bg.jpg) !important;
}


label.errors {
	display: block;
	margin: 12px 0;
	color: #ff0000;	
}


.fImage {
	margin: 40px auto;
	display: block;
}


/************************************************************************/



/*form styles*/
label {
	display: block;
}

h2 {
	margin-left: 10px;
	color: #2B5599;
}

li {
	list-style: none;
	padding: 10px 0 0 0;
}

p {
	margin: 0 0 0 9px;
}

a {
	text-decoration: none;
	margin: 3px;
}

a:active {
	text-decoration: none;
	color: #fff;
}

a:visited {
	color: blue;
}

